<div class="card bgLight py-5">
    <div class="container py-5">
        <div class="card-body py-5">
            
            <div class="row">
                <div class="col-md-8 col-12 pe-md-5 pe-0 d-none d-md-block">
                    <h1 class="display-5">
                        NalaNews
                    </h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vero sequi hic, odit officiis commodi laudantium assumenda molestiae, ab cupiditate quo rem magnam laborum aspernatur blanditiis ducimus mollitia modi quibusdam!
                    </p>
                    <hr>
                    <small>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum assumenda unde animi, corporis natus, obcaecati labore similique perspiciatis optio eos, velit ipsa deleniti vero. Asperiores expedita non dicta. Quidem, officia.
                    </small>
                    <hr>
                    <button class="btn btn-dark me-3" routerLink="/all_blogs">Read blogs</button>
                    <a class="btn btnLight" routerLink="/login">Log in</a>
                </div>

                <div class="col-md-4 col-12">
                    <form #signupForm="ngForm" (ngSubmit)="signUp()" class="row g-3">

                        <div class="col-md-6 col-12">
                          <label class="form-label">First name*</label>
                          <input type="text" class="form-control" [class.is-invalid]="first_name.touched && first_name.invalid" required #first_name="ngModel" [(ngModel)]="signupData.data.first_name" name="first_name">
                          <small *ngIf="first_name.touched && first_name.invalid" class="text-danger">
                            Fill this field!
                          </small>
                        </div>

                        <div class="col-md-6 col-12">
                          <label class="form-label">Last name*</label>
                          <input type="text" class="form-control" [class.is-invalid]="last_name.touched && last_name.invalid" required #last_name="ngModel" [(ngModel)]="signupData.data.last_name" name="last_name">
                          <small *ngIf="last_name.touched && last_name.invalid" class="text-danger">
                            Fill this field!
                          </small>
                        </div>

                        <div class="col-12">
                          <label class="form-label">Email address*</label>
                          <input type="email" class="form-control" [class.is-invalid]="email.touched && email.invalid" required #email="ngModel" [(ngModel)]="signupData.data.email" name="email">
                          <small *ngIf="email.touched && email.invalid" class="text-danger">
                            Fill this field!
                          </small>
                        </div>

                        <div class="col-12">
                          <label class="form-label">Password*</label>
                          <input type="password" class="form-control" [class.is-invalid]="password.touched && password.invalid" required #password="ngModel" [(ngModel)]="signupData.data.password" name="password">
                          <small *ngIf="password.touched && password.invalid" class="text-danger">
                            Fill this field!
                          </small>

                          <small *ngIf="signupData.error" class="text-danger">
                            {{signupData.error}}!
                          </small>
                        </div>

                        <div class="d-grid gap-2">
                          <button class="btn btn-dark" type="submit" [disabled]="signupForm.invalid || signupData.loading">
                              {{ signupData.loading ? 'Signing up...' : 'Signup for free' }}
                          </button>
                          <a class="btn btn-sm btnLight" routerLink="/login">
                              Already have an account? Login
                          </a>
                        </div>

                      </form>
                </div>
            </div>

          </div>
    </div>
</div>
